{
  "Profiles": [
    {% for node in nodes %}
    {
      "Name" : "{{ node[0] }}",
      "Tags" : ["{{ lab }}-{{ node[1] }}"],
      "Initial Text" : "telnet {{ eve }} {{ node[2] }}",
      "Guid": "{{ node[3] }}"
    },
    {%- endfor %}
  ]
}
